body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#frame {
    display: flex;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    background-color: coral;
}

#screen {
    width: 250px;
    height: 40px;
    border: 1px solid black;
    margin: 1em 1em;
    background-color: aliceblue;
    font-size: 24pt;
    text-align: right;
    
}

div {
   justify-content: center; 
   justify-items: center;
}

div.span2 {
    grid-column: span 1 / 3;
}


#buttons {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: auto;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
}

#numBut {
    
   
    text-align: center;
    align-items: baseline;
    width: 200px;
    height: 300px;
}

#opBut {
   
}

input[type="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 40px;
    height: 24pt;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}